<section id="about">
  <div id="aboutMe" class="container">
    <h1 class="about">
      Hi! Welcome to my website!
      <br>
      I'm Harry Francisco, a {{currJobTitle | lowercase}} at 
      <a class="companyLink" href="{{currCompany.link}}" target="_blank">{{currCompany.name}}</a>
      in {{currLocation.city}}, {{currLocation.countryISO}}.
    </h1>
  </div>
  <div id="aboutDetails" class="container container--vertical">
    <div class="aboutDetails">
      <h3 class="aboutDetailsLabel">Tech Stack</h3>
      <div id="aboutDetailsContentTechStack" class="aboutDetailsContent" (click)="toggleAboutDetailsContent()">
        hi hello
      </div>
    </div>
    <div class="aboutDetails">
      <h3 class="aboutDetailsLabel">Work Experience</h3>
    </div>
  </div>
</section>