<section id="about">
  <div id="aboutMe" class="container">
    <h1 class="about">
      Hi! Welcome to my website!
      <br>
      I'm Harry Francisco, a {{currJobTitle | lowercase}} at
      <a class="company-link" href="{{currCompany.link}}" target="_blank">{{currCompany.name}}</a>
      in {{currLocation.city}}, {{currLocation.countryISO}}.
    </h1>
  </div>
  <div class="container container--vertical">
    <div class="about-details-accordion">
      <div class="about-details-accordion-item">
        <h3 class="about-details-accordion-item-label">Tech Stack</h3>
        <div class="about-details-accordion-item-content">
          hi hello
        </div>
      </div>
      <div class="about-details-accordion-item">
        <h3 class="about-details-accordion-item-label">Work Experience</h3>
        <div class="about-details-accordion-item-content">
          hello hi
        </div>
      </div>
    </div>
  </div>
</section>